.home{
  &__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  &__title{
    margin-bottom: 20px;
  }
  &__item{
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}