.home{
  &__inner{
    display: flex;
    flex-direction: column;
  }
  &__title{
    margin-bottom: 20px;
  }
  &__item{
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}