.auth {
  padding: 100px 0 0 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  &__label {
    display: block;
    margin-bottom: 20px;
    color: #333;
    font-size: 18px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__title {
    margin-bottom: 50px;
  }
  &__password-wrapper{
    position: relative;
  }
  &__password-toggle{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
  &__error-message{
    margin-top: 20px;
    font-size: 18px;
    color: red;
  }
}
